/*
* Resetting browser defaults
* Different browsers display elements slightly differently, so we need to explicitly set some things to ensure consistency accross browsers
* (You don't need to change these)
*/
html,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Container elements
*/
body {
    background: #FFFFFF;
    font-family: 'Abel', sans-serif;
}

.row {
    max-width: 1040px;
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
}

/*
* When elements use a 'float', the wrapping element collapses in height
* This hack below on the .row element can prevent that.
* (You don't need to change this)
*/
.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.header {
    border-bottom: 1px solid #CCCCCC;
}

.footer {
    background-color: #023338;
}

/*
* A 'float' rule caused the element bump up next to another element that is also floated
* A percentage width is given on the two floated elements below so they fill the (100% width) space proportionally
*/
.col-image {
    float: left;
    width: 40%;
}

.col-text {
    float: left;
    width: 60%;
    padding: 60px;
}

.app-button-link {
    display: inline-block;
}


/*
* Typography
*/
h2 {
    font-size: 50px; 
    font-weight: bold;
    color: #023338;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
    color: #023338;
}
 
.copyright {
    color: #FFFFFF;
}

/*
* Images
*/
.logo {
    float: left;
    width: 200px;
}

.app-image {
    width: 100%;
}

.app-store-button,
.google-play-button {
    width: 150px;
    margin-top: 20px;
}